.show
  .col-md-4
    = render 'shared/profiles/profile'

  .col-md-8
    .stats
      .level
        %h3= "Level: #{@character.level}"

      %h2= @character.name

      .attack.stat
        = image_tag 'items/attack.png'
        = @character.attack

      .defense.stat
        = image_tag 'items/defense.png'
        = @character.defense

      .hp.stat
        = image_tag 'items/hp.png'
        = @character.hp