%hr/
.damage
  %p
    = "#{@player.name} has dealt"
    %span= "#{round.player_damage}"
    = "to #{@bot.name}."

.damage
  %p
    = "#{@bot.name} has dealt"
    %span= "#{round.bot_damage}"
    = "to #{@player.name}."
%hr/