.frame-settings
  = link_to change_frame_player_settings_path(type: 'increment'), method: :put do
    %i.fa.fa-angle-double-up
  = link_to change_frame_player_settings_path(type: 'decrement'), method: :put do
    %i.fa.fa-angle-double-down

.frame{style: "max-height: #{current_user.player.frame_size * 100}px;"}
  .log.col-md-8
    - @logs.each do |log|
      - cache log do
        .event
          = raw(log.body)

  .players-online.col-md-4
    %h3 Players online:

    - @online_players.each do |player|
      - cache player do
        .player
          %p 
            = player.name
            = link_to fa_icon("external-link"), player_path(id: player.name)
