.show
  .col-md-6.grid.col-md-offset-3
    = render 'players/player'

  .col-md-3
    .stats
      .level
        %h3= "Level: #{@player.level}"

      %h2= @player.name

      - @stats.each do |stat|
        %div{class: "#{stat} stat"}
          = image_tag "#{stat}.png"
          = @player[stat]
          = link_to '+', player_stat_increase_path(stat_id: stat), method: :put

      .free-stats.stat
        Free stats:
        = @player.free_stats