.show
  .col-md-6.grid.col-md-offset-3
    = render 'players/player'

  .col-md-3
    .stats
      .level
        %h3= "Level: #{@player.level}"

      %h2= @player.name

      .attack.stat
        = image_tag 'attack.png'
        = @player.attack
        = link_to '+', player_stat_increase_path(stat_id: 'attack'), method: :post

      .defense.stat
        = image_tag 'defense.png'
        = @player.defense
        = link_to '+', player_stat_increase_path(stat_id: 'defense'), method: :post

      .hp.stat
        = image_tag 'hp.png'
        = @player.hp
        = link_to '+', player_stat_increase_path(stat_id: 'hp'), method: :post

      .free-stats.stat
        Free stats:
        = @player.free_stats