.bot
  %h2
    %p
      = bot.name
      = "[#{bot.level}]"

  .main-info
    .image
      = image_tag bot.avatar.url

    = link_to 'Attack', fight_path(bot_id: bot.id), method: :post, class: 'btn btn-danger attack-btn center'

  .stats-info
    .attack.stat
      = image_tag 'attack.png'
      = bot.attack

    .defense.stat
      = image_tag 'defense.png'
      = bot.defense

    .hp.stat
      = image_tag 'hp.png'
      = bot.hp
