.item.row
  .col-md-3
    = image_tag item.image.url, class: 'item-img'

  .col-md-9
    .level
      = item.level_status(current_user.player)

    %h3= item.name

    - Player::STATS.each do |stat|
      %div{class: "#{stat} stat"}
        = image_tag "#{stat}.png"
        = item[stat]

    .buy-button
      - if params[:controller] == 'player/inventory'
        = link_to 'Put on', equipment_item_put_on_path(item.id), method: :put, class: 'btn btn-info'
        = link_to "Sell for #{item.sell_price.to_i} gold", equipment_item_sell_path(item.id), method: :put, class: 'btn btn-info'