.player
  .progress
    .progress-bar.progress-bar-danger{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "80", :role => "progressbar", :style => "width: 100%"}
      %span.sr-only 80% Complete (danger)
      = "#{@player.hp} HP"
      
  .progress
    .progress-bar.progress-bar-info{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "20", :role => "progressbar", :style => "width: 100%"}
      %span.sr-only 20% Complete
      1 MP

  .progress
    .progress-bar.progress-bar-warning{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "60", :role => "progressbar", :style => "width: #{progress_percents(@player.exp_next, @player.exp)}"}
      = "EXP: #{@player.exp}/#{@player.exp_next}"

  .avatar
    = image_tag @player.image.url, class: 'avatar'

  - if @wearable_weapons.present?
    - @wearable_weapons.each do |item|
      .player-items
        %div#item{class: "item.category.name item"}
          = link_to equipment_item_put_off_path(item_id: item.id), method: :post do
            = image_tag item.image.url
          .stats#stats
            .attack.stat
              = image_tag 'attack.png'
              = item.attack

            .defense.stat
              = image_tag 'defense.png'
              = item.defense

            .hp.stat
              = image_tag 'hp.png'
              = item.hp

            .put-off
              = link_to equipment_item_put_off_path(item_id: item.id), method: :post do
                = image_tag 'players/put_off.png'

  - if @wearable_tools.present?
    - @wearable_tools.each do |item|
      .player-items
        %div#item{class: "item.category.name item"}
          = link_to tool_item_put_off_path(item_id: item.id), method: :post do
            = image_tag item.image.url
          .stats#stats
            .attack.stat
              qwe
              
            .put-off
              = link_to tool_item_put_off_path(item_id: item.id), method: :post do
                = image_tag 'players/put_off.png'

:javascript
  $('.player-items > #item').hover(function () {
    $(this).find('#stats').css('display', 'block');
  }, function () {
    $(this).find('#stats').css('display', 'none');
  });