.player-name
  =  @player.name
  %strong= "[#{@player.level}]"

.progresses
  .progress
    .progress-bar.progress-bar-danger{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "80", :role => "progressbar", :style => "width: #{progress_percents(@player.hp, @player.current_hp)}"}
      = @player.current_hp_get

  .progress
    .progress-bar.progress-bar-warning{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "60", :role => "progressbar", :style => "width: #{progress_percents(@player.exp_next, @player.exp)}"}
      = @player.current_exp_get

.player
  .player-items.left-column
    - @wearable_eqipment.each do |item|
      %div{class: "#{item.category.name.downcase} item"} 
        = link_to equipment_item_put_off_path(item_id: item.id), method: :post do 
          = image_tag item.image.url

  .avatar
    = image_tag @player.image.url, class: 'avatar'


  - if @wearable_tools.present?
    - @wearable_tools.each_with_index do |item, index|
      .player-items.tools
        %div{class: "item tool num-#{index}"}
          = link_to tool_item_put_off_path(item_id: item.id), method: :post do
            = image_tag item.image.url