.inventory.resources
  .col-md-6.grid.col-md-offset-1
    = render 'players/player'

  .items.col-md-5
    = render 'menu'

    - if @resources.present?

      = link_to "Sell all for #{@resources.pluck(:price).reduce(:+)} gold", sell_all_resources_path, method: :put, class: 'btn btn-warning'
      
      - @resources.each do |resource|
        - cache resource do
          = image_tag resource.image.url
    - else
      %h2 No craft resources