.fight-show
  .navbar
    %li
      = @player.decorate.current_location_path

  .winner.center
    %h1.text-center= "Winner: #{@winner.name}"

    - if @winner.is_a?(Player)
      .progress
        .progress-bar.progress-bar-danger{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "80", :role => "progressbar", :style => "width: #{progress_percents(@player.hp, @rounds.last.player_hp)}"}
          %span.sr-only 80% Complete (danger)
          = "#{@winner.current_hp} HP" if @winner == @player

      .progress
        .progress-bar.progress-bar-warning{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "60", :role => "progressbar", :style => "width: #{progress_percents(@player.exp_next, @player.exp)}"}
          = "EXP: #{@player.exp}/#{@player.exp_next}"
    
    = image_tag @winner.avatar, class: 'image center'

  .results.row
    .col-md-6.col-md-offset-3
      %table.table
        %thead
          %tr
            %th Player damage
            %th Bot damage
        %tbody
          %tr
            %td.red
              %strong= @rounds.pluck(:player_damage).reduce(:+)
            %td.red
              %strong= @rounds.pluck(:bot_damage).reduce(:+)

  .rounds
    - @rounds.each do |round|
      - cache round do
        = render round

