.cell
  %h1.text-center= @location.name

  .col-md-8
    //= image_tag @location.background.url if @location.background.present?
    = image_tag 'locations/wayward_pines/cells/bg.jpg', class: 'center'

  .col-md-4
    - if @bots.present?
      .bots
        - @bots.each do |bot|
          - cache bot do
            .bot.spoiler-wrapper
              .spoiler.folded
                = link_to "#{bot.name}[#{bot.level}]", "javascript:void(0);"

              .spoiler-text
                .row
                  = render 'bots/bot', bot: bot
