.cell
  %h1.text-center= @location.name

  .col-md-8
    //= image_tag @location.background.url if @location.background.present?
    = image_tag 'locations/wayward_pines/cells/bg.jpg', class: 'center'

  .col-md-4
    - if @bots.present?
      .bots
        - @bots.each do |bot|
          - cache bot do
            .bot.spoiler-wrapper
              .spoiler.folded
                = link_to "#{bot.name}[#{bot.level}]", "javascript:void(0);"

              .spoiler-text
                .row
                  = render 'bots/bot', bot: bot

    - if @resources.present?
      .resources
        - @resources.each do |resource|
          - cache resource do
            .resource
              = image_tag resource.image.url
              = resource.decorate.collect_link(current_user.player) #collect

            #modal.white-popup-block.mfp-hide
              %h2#collect-status Processing...
              .countdown
                %p
                  %i#clock

              .images
                = image_tag "craft/#{resource.type}/#{resource.type}", class: 'center', id: 'collect-image'
                = image_tag "craft/#{resource.type}/#{resource.type}-done", class: 'center', id: 'collected-image'

              .buttons
                = link_to 'Collect', resource_collect_path(resource_id: resource.id), method: :post, class: 'btn btn-primary', id: 'collect-button'
                = link_to 'Cancel', '#', class: 'popup-modal-dismiss btn btn-danger', id: 'cancel-button'