.item.row
  .col-md-3
    //= image_tag item.image.url, class: 'item-img'

  .col-md-9
    .level
      = item.level_of_skill(current_user.player)

    %h2= item.name
    
    .buy-button
      - if params[:controller] == 'player/inventory'
        = link_to 'Put on', tool_item_put_on_path(item.id), method: :put, class: 'btn btn-info'
        = link_to "Sell for #{item.sell_price.to_i} gold", tool_item_sell_path(item.id), method: :put, class: 'btn btn-info'