.item.row
  .col-md-3
    = image_tag item.image.url, class: 'item-img'

  .col-md-9
    .level
      = item.level_of_skill(current_user.player)

    %h2= item.name
    
    .buy-button
      = item.put_on_button(current_user.player) if params[:controller] == 'player/inventory'
      = item.buy_or_sell_button(current_user.player)