!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Mushrooms
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = javascript_pack_tag 'application'
    = csrf_meta_tags
  %body
    .container#app
      = yield

      //= render 'shared/log'
