!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Mushrooms
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    .container-fluid
      .row
        .header
          %nav.navbar
            %ul
              %li= link_to 'Town square', main_locations_path, class: 'btn btn-default'
              %li= link_to 'Shop', shop_locations_path, class: 'btn btn-default'
              %li= link_to 'Bestiary', shop_locations_path, class: 'btn btn-default'
              %li= link_to 'Profile', profile_path, class: 'btn btn-success'
              %li= link_to 'Logout', destroy_user_session_path, method: :delete, class: 'btn btn-danger'
              %li
                Gold:
                = current_user.profile.cash

      .container
        = yield
