!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Mushrooms
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = javascript_pack_tag 'application'
    = csrf_meta_tags
  %body
    .container-fluid#app
      .row
        .header
          %nav.navbar
            %ul
              %li= link_to image_tag('locations/wayward_pines/icon.png'), wayward_pines_locations_path
              %li= link_to image_tag('locations/cities/moon_light/icon.jpg'), moon_light_locations_path
              %li= link_to 'Inventory', player_inventory_index_path, class: 'btn btn-success'
              %li= link_to 'Logout', destroy_user_session_path, method: :delete, class: 'btn btn-danger'
            %gold

      .container
        = yield

      .row
        = render 'shared/log'