!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Mushrooms
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    .container-fluid
      .row
        .header
          %nav.navbar
            %ul
              %li= link_to image_tag('locations/wayward_pines/icon.png'), wayward_pines_locations_path
              %li= link_to image_tag('locations/cities/moon_light/icon.jpg'), moon_light_locations_path

              - unless current_user.player.location.slug == 'moon_light' 
                %li= link_to current_user.player.location.name, location_cell_path(location_id: current_user.player.location.slug, id: current_user.player.location.slug), class: 'btn btn-default'
                
              %li
                = link_to player_inventory_index_path, class: 'btn btn-success' do
                  Inventory
                  - if current_user.player.free_stats > 0
                    %span.badge= current_user.player.free_stats
              %li= link_to 'Logout', destroy_user_session_path, method: :delete, class: 'btn btn-danger'
              %li
                = image_tag 'players/gold.png'
                = current_user.player.gold

      .container
        = yield

      = render 'shared/log'