!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Mushrooms
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_pack_tag 'application'
    = csrf_meta_tags
  %body
    .container-fluid#app
      .row
        .header
          %nav.navbar
            %ul
              %li= link_to image_tag('locations/wayward_pines/icon.png'), wayward_pines_locations_path
              %li= link_to image_tag('locations/cities/moon_light/icon.jpg'), moon_light_locations_path
              %li= link_to image_tag('locations/cities/moon_light/weapon_shop/icon.png'), weapon_shop_locations_path
              %li= link_to image_tag('locations/cities/moon_light/shop_of_artifacts/icon.png'), shop_of_artifacts_locations_path
              %li= link_to image_tag('locations/cities/moon_light/craft_shop/icon.png'), craft_shop_locations_path
              %li= link_to image_tag('players/bag.png'), player_inventory_index_path
              %li= link_to 'Logout', destroy_user_session_path, method: :delete, class: 'btn btn-danger'
              %li
                = image_tag 'players/gold.png'
                = current_user.player.gold

      .container
        = yield

      .row
        //= render 'shared/log'