!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Mushrooms
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    .container-fluid
      .row
        .header
          %nav.navbar
            %ul
              %li= link_to 'Town square', moon_light_locations_path, class: 'btn btn-default'
              %li= link_to 'The Elder Shop', the_elder_shop_locations_path, class: 'btn btn-default'
              %li= link_to 'Mushrooms', mushrooms_locations_path, class: 'btn btn-default'
              %li= link_to 'Wayward Pines', location_cells_path(location_id: 'wayward_pines'), class: 'btn btn-default'
              %li= link_to 'Profile', player_path, class: 'btn btn-success'
              %li= link_to 'Logout', destroy_user_session_path, method: :delete, class: 'btn btn-danger'
              %li
                = image_tag 'players/gold.png'
                = current_user.player.gold

      .container
        = yield
