!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Mushrooms
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_pack_tag 'application'
    = csrf_meta_tags
  %body
    .container-fluid.player#app
      .row
        .header
          %nav.navbar
            %ul
              %li= link_to 'Inventory', player_inventory_index_path, class: 'btn btn-default'
              %li
                = link_to player_stats_path, class: 'btn btn-default' do
                  Stats
                  - if current_user.player.free_stats > 0
                    %span.badge= current_user.player.free_stats
              %li= link_to 'Settings', player_settings_index_path, class: 'btn btn-default'
              %li= @player.decorate.current_location_path
              %li= link_to 'Logout', destroy_user_session_path, method: :delete, class: 'btn btn-danger'
              %li
                = image_tag 'players/gold.png'
                = current_user.player.gold
      
      .container
        = yield

      //= render 'shared/log'